*.iml
/.idea
/.idea_modules
/.project
/.settings
target/
out/


# Ignoring IntelliJ related files
.idea


# Ignoring Eclipse files
.classpath
.project
.settings

# Ignoring index folder and data folder
index
catalog
plan/
plan_files/

# Ignoring Mac OSX specific files
.DS_Store

# Ignoring Angular2 locally built files
node_modules/
bower_components/
textdb-angular-gui/app/*.js
textdb-angular-gui/app/*.map
