<div class="collapse navbar-collapse"> 
	<div class="nav navbar-nav navbar-left btn-toolbar">Add Operator:</div>
	
	<div class="nav navbar-nav navbar-left btn-toolbar previous-operators">
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">Regex</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">Keyword</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">NLP</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="2" data-nb-outputs="1">Join</div>
	</div>
</div>